body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(134, 132, 132);
    text-align: center;
}
h1{
    font-size: 45px;
}
input{
    width: 70px;
    height: 55px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
}